In [3]:
import pandas as pd

#import csv file
df = pd.read_csv("Dataset//population.csv")

In [12]:
df.head()
df.iloc[0:6,0:4]  #first 5 rows and first 3 columns
df.shape

(234, 17)

In [ ]:
df.set_index("Country/Territory",inplace=True) #making country/territory as index
df.head()

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [ ]:
df.set_index("Rank", inplace=True) #making rank as index
df.sort_index(inplace=True, ascending=True) #sorting index
df.head()
#want to check type
df.index.dtype  # dtype of the index 
data=df["CCA3"].dtype  # dtype of the column
print(data)

object

In [ ]:
df.loc[4]  #data of india
data = df.iloc[3]
data.head()

CCA3                     IDN
Capital              Jakarta
Continent               Asia
2022 Population    275501339
2020 Population    271857970
Name: 4, dtype: object

In [ ]:
data = df.groupby(["Capital"]) #extracting data of capital
data.size() #size of the data

Capital
Abu Dhabi       1
Abuja           1
Accra           1
Addis Ababa     1
Algiers         1
               ..
Yamoussoukro    1
Yaounde         1
Yaren           1
Yerevan         1
Zagreb          1
Length: 234, dtype: int64

In [55]:
data = df[["CCA3","Capital","Continent"]]  #extracting specific columns
data.iloc[0:5]  #first 5 rows of specific columns

     CCA3           Capital      Continent
Rank
1     CHN           Beijing           Asia
2     IND         New Delhi           Asia
3     USA  Washington, D.C.  North America
4     IDN           Jakarta           Asia
5     PAK         Islamabad           Asia

In [60]:
d1 =df.sort_values(by= "2022 Population", ascending=True)  #sorting by population in descending order
d1.tail()

,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,,
5,PAK,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
4,IDN,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
3,USA,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24
2,IND,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
1,CHN,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88

In [64]:
#df.set_index("CCA3", inplace=True,)
df.sort_index(inplace=True, ascending=True)
df.head()

,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
CCA3,,,,,,,,,,,,,,
ABW,Oranjestad,North America,106445,106585,104257,100341,89101,65712,62267,59106,180,591.3611,0.9991,0.00
AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
AGO,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
AIA,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04